$couleurHeader: #20063B;

header, footer {
  background-color: $couleurHeader;
  display: block;
  padding: 1rem;
  color: white;
  width: 100%;
  margin-bottom: 1.4rem;

  & > .header {
    width: 48%;
    display: inline-block;
  }

  & > .header:nth-child(2) {
    text-align: right;
  }
}

footer {
  margin-bottom: 0;

  &  p {
    margin-top: 0;
    text-align: center;
  }
}

@media screen and (max-width: 728px) {
  header, footer {
    width: 92%;
  }
}