/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "DIN";
  src: url("DIN.TTF"); }
@font-face {
  font-family: "DIN";
  src: url("DIN.TTF"); }
/*
GENERAL
*/
body {
  font-family: "Helvetica", "Arial", sans-serif; }

p {
  margin-bottom: 1rem; }

/*
LES TITRES
*/
h1 {
  font-size: 1.7rem; }
  h1.sub {
    font-size: 1.36rem; }

h2 {
  font-size: 1.5rem; }
  h2.sub {
    font-size: 1.2rem; }

h3 {
  font-size: 1.3rem; }
  h3.sub {
    font-size: 1.04rem; }

h4 {
  font-size: 1.1rem; }
  h4.sub {
    font-size: 0.88rem; }

h5 {
  font-size: 1rem; }
  h5.sub {
    font-size: 0.8rem; }

h6 {
  font-size: 0.9rem; }
  h6.sub {
    font-size: 0.72rem; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold; }
  h1 > small,
  h2 > small,
  h3 > small,
  h4 > small,
  h5 > small,
  h6 > small {
    color: #333333;
    font-size: 0.8em;
    font-weight: lighter; }
  h1.sub,
  h2.sub,
  h3.sub,
  h4.sub,
  h5.sub,
  h6.sub {
    color: #333333;
    font-weight: normal; }

/*
INLINE
*/
strong {
  font-weight: bold; }

u {
  text-decoration: none;
  border-bottom: 1px red dotted; }

em {
  font-style: italic; }

/*
QUOTE & BLOCKQUOTE
*/
blockquote {
  background: #f9f9f9;
  font-family: cursive;
  border-left: 10px solid #ccc;
  margin: 10px 10px 30px;
  padding: 10px;
  max-width: 80%; }
  blockquote:before {
    color: #ccc;
    content: "\201C";
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  blockquote:after {
    color: #ccc;
    content: "\201D";
    font-size: 4em;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.7em; }
  blockquote p {
    display: inline; }

code {
  border-left: 10px solid #666666;
  display: block;
  font-family: monospace;
  color: #f9f9f9;
  background-color: black;
  margin-top: 10px;
  margin-left: 10%;
  margin-bottom: 30px;
  padding: 10px;
  max-width: 90%;
  font-size: 0.8rem; }
  @media screen and (min-width: 750px) {
    code {
      max-width: 800px;
      font-size: 1rem; } }
  code p {
    line-height: 0.2em; }

pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 10px 10px 20px; }

kbd {
  border-left: 10px solid #ccc;
  display: block;
  font-family: monospace;
  background-color: #f9f9f9;
  margin: 10px 10px 20px;
  padding: 10px;
  max-width: 80%; }
  kbd p {
    line-height: 0.2em; }

/*
LES LISTES
*/
li {
  list-style-type: disc;
  margin-left: 2em; }

.ulsquare li {
  list-style-type: square; }

.ulnostyle li {
  list-style-type: none; }

/*
Alignements et transformations
*/
.alleft {
  text-align: left; }

.alright {
  text-align: right; }

.alcenter {
  text-align: center; }

.aljustified {
  text-align: justify; }

.smallcaps {
  font-variant: small-caps; }

.lowercase {
  text-transform: lowercase; }

.uppercase {
  text-transform: uppercase; }

.capitalize {
  text-transform: capitalize; }

/*
TABLES ET TABLEAUX
*/
table {
  width: 100%;
  margin: 1em auto 2em;
  text-align: center;
  display: table;
  max-width: 400px; }
  table th {
    font-variant: small-caps; }

table,
th,
td {
  padding: 0.5em 1em 0.5em 1em; }

/*Tableau bordures*/
.tableborder,
.tableborder th,
.tableborder td {
  border: 1px solid #666666; }

/*Tableau ligne alternees*/
.tablealterne tr:nth-child(even) {
  background-color: white;
  /*blanc*/ }

.tablealterne tr:nth-child(odd) {
  background-color: #ccc;
  /*gris*/ }

.tablealterne th {
  background-color: #666666;
  color: white; }

/*tableau avec survol*/
.tablehover tr:not(th) {
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out; }

.tablehover tr:hover:not(th) {
  background-color: #666666;
  color: white; }

a {
  color: #4ea6ca; }
  a:hover {
    color: #333333; }
  a.disabled {
    color: #f9f9f9; }
    a.disabled:hover {
      cursor: not-allowed; }
  a.active {
    color: black;
    text-decoration: none;
    cursor: default; }

@font-face {
  font-family: "DIN";
  src: url("DIN.TTF"); }
.btn {
  border: transparent solid 1px;
  color: white;
  background-color: #666666;
  display: inline-block;
  padding: 5px 5px;
  margin: 10px;
  font-weight: bold;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  text-transform: capitalize;
  -webkit-transition: all 200ms ease-out;
  -moz-transition: all 200ms ease-out;
  -ms-transition: all 200ms ease-out;
  -o-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
  -moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px #888;
  box-shadow: 0 0 5px #888; }
  .btn:hover {
    cursor: pointer;
    background-color: transparent;
    color: #666666;
    border: #666666 solid 1px; }

.btnOrange {
  background-color: #EE8400; }

.btnOrange:hover {
  color: #EE8400;
  border: #EE8400 solid 1px; }

.btnRed {
  background-color: #CA3C3C; }

.btnRed:hover {
  color: #CA3C3C;
  border: #CA3C3C solid 1px; }

.btnGreen {
  background-color: #1CB841; }

.btnGreen:hover {
  color: #1CB841;
  border: #1CB841 solid 1px; }

.btnBlue {
  background-color: #4ea6ca; }

.btnBlue:hover {
  color: #4ea6ca;
  border: #4ea6ca solid 1px; }

.btnGreen:active,
.btnBlue:active,
.btnOrange:active,
.btn:active,
.btnRed:active {
  /*border:transparent solid 1px;*/
  -webkit-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63);
  box-shadow: 0px 0px 42px -11px rgba(0, 0, 0, 0.63); }

.btnSmall {
  font-weight: normal;
  font-size: 80%;
  padding: 2px 5px; }

.btnLarge {
  font-weight: bolder;
  font-size: 130%;
  padding: 10px 15px; }

.btnFlat {
  font-weight: lighter;
  font-size: 110%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.btnFlat:active {
  font-weight: normal;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.btnXtra {
  padding: 1rem;
  margin-left: 0;
  margin-right: 0;
  width: 100%; }

.btnFancy {
  padding: 8px 16px;
  color: white;
  text-decoration: none;
  vertical-align: middle;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 2px 2px 1px 0px #656565;
  -webkit-box-shadow: 2px 2px 1px 0px #656565;
  -o-box-shadow: 2px 2px 1px 0px #656565;
  box-shadow: 2px 2px 1px 0px #656565;
  text-shadow: rgba(0, 0, 0, 0.4) 0 1px 0; }

@font-face {
  font-family: "DIN";
  src: url("DIN.TTF"); }
nav {
  background-color: rgba(78, 166, 202, 0.8);
  color: rgba(78, 166, 202, 0.8);
  border-bottom: 3px #ccc solid;
  display: inline-block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100; }
  nav .navbarbloc {
    text-align: center; }
    nav .navbarbloc .navbar {
      text-align: center;
      font-variant: small-caps;
      display: inline-block; }
      nav .navbarbloc .navbar li {
        display: inline-block;
        width: auto;
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 5px; }
      nav .navbarbloc .navbar a {
        font-size: 1.3em;
        text-decoration: none;
        color: white; }
        @media screen and (min-width: 1200px) {
          nav .navbarbloc .navbar a {
            font-size: 1.25em;
            color: white; } }
        nav .navbarbloc .navbar a:hover {
          text-decoration: underline;
          color: #333333; }
        nav .navbarbloc .navbar a.disabled {
          color: #ccc; }
          nav .navbarbloc .navbar a.disabled:hover {
            text-decoration: none; }
        nav .navbarbloc .navbar a.active {
          color: black;
          text-decoration: none; }

.navbarspace {
  display: none; }
  @media screen and (min-width: 1200px) {
    .navbarspace {
      display: inline-block;
      height: 30px; } }

header {
  margin-bottom: 5px;
  color: white;
  background-color: #4ea6ca;
  text-align: center;
  font-variant: small-caps;
  font-size: 1.5em;
  padding-top: 0.5em;
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.5em;
  border-bottom: 3px #ccc solid;
  margin-top: 50px; }
  header h1 {
    text-transform: uppercase; }
    header h1 small {
      color: #ccc;
      text-transform: lowercase; }

.breadcrumb {
  font-size: 0.7rem;
  font-weight: lighter;
  margin-bottom: 20px; }
  .breadcrumb li {
    margin: 0 0.2rem 0 0;
    display: inline; }
    .breadcrumb li:nth-child(1n + 2):before {
      content: " > "; }

.jumbotron {
  background-color: #ccc;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  padding: 2%;
  text-align: center;
  border-bottom: 3px #666666 solid; }
  .jumbotron p {
    text-align: center;
    padding-top: 1em;
    padding-left: 3%;
    padding-right: 3%; }

.pagination {
  text-align: center;
  margin-top: 0;
  margin-bottom: 1rem; }
  .pagination li {
    margin: 0 0.2rem 0 0;
    display: inline; }

@font-face {
  font-family: "DIN";
  src: url("DIN.TTF"); }
body {
  box-sizing: border-box;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1.2; }
  @media screen and (min-width: 750px) {
    body {
      max-width: 1280px;
      margin: auto;
      padding-left: 5px;
      padding-right: 5px; } }

#blocimage {
  width: 95%;
  text-align: center; }
  #blocimage img {
    width: 80%;
    max-width: 900px;
    height: auto; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px; }

li {
  margin-bottom: 5px;
  margin-top: 5px; }

#Trochut {
  font-family: 'Trochut', cursive;
  font-size: 1em; }

#Amatic {
  font-family: 'Amatic SC', sans-serif; }

#DIN {
  font-family: 'DIN', sans-serif; }

/*# sourceMappingURL=style.css.map */
