@import "_variables";

body {

  @media screen and (min-width: $responsivewidthtablette) {
    max-width: 1280px;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
  }

  box-sizing: border-box;
  background-color: white;
  margin-left: 5px;
  margin-right: 5px;
  line-height: 1.2;
}

#blocimage {
  width: 95%;
  text-align: center;
  img {
    width: 80%;
    max-width: 900px;
    height: auto;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 5px;
}

li {
  margin-bottom: 5px;
  margin-top: 5px;
}

#Trochut {
  font-family: 'Trochut', cursive;
  font-size: 1em;
}

@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
#Amatic {
  font-family: 'Amatic SC', sans-serif;
}

#DIN {
  font-family: 'DIN', sans-serif;
}