@import "_default";

@font-face {
  font-family: "DIN";
  src: url('DIN.TTF');
}

$typo: 'Helvetica', 'Arial',  sans-serif;
$default_totalwidth:100%;
$default_colNb:8;
$default_gutW:0%;
$default_marginW:$default_gutW/2;
$default_colNbsmall:4;
$default_colNbMedium:8;
$default_colNbLarge:12;

$desktop: 1200px;
$tablette: 600px;

