body {
  margin: 10px;
  font-family: helvetica, arial, sans-serif;
}
.columns {
	-webkit-columns: 4;
	-moz-columns: 4;
	columns: 4;
}
		
p {
			color: #333;
			padding: 10px;
			margin: 0;
			background: beige;
}
