body {
 	margin: 2em;
}

img{
	height:200px;
	width:200px;
	border-radius: 10px;
}
 
.img1{
	background: url(img/test.png) no-repeat center;
	border-radius: 10px;
	display: inline-block;
	margin: 1em;
	height: 200px;
	width: 200px;
}

.img2{
	background: url(img/bleu.jpg) no-repeat center;
	border-radius: 10px;
	display: inline-block;
	margin: 1em;
	height: 200px;
	width: 200px;
}

div {
	background: url(img/test.png) no-repeat center, url(img/bleu.jpg) no-repeat center;
	border-radius: 10px;
	box-shadow: 5px 2px 10px #888;
	display: inline-block;
	height:200px;
	margin: 1em;
	width: 200px;
}

label {
    display:block;
    background: #fff;
    font-family: Georgia, Garamond, serif;
    text-align:center;
    text-shadow: .5px .7px .7px #eee;
}


.normal 	 { background-blend-mode: normal; 	   }
.multiply 	 { background-blend-mode: multiply;    }
.screen 	 { background-blend-mode: screen; 	   } 
.overlay 	 { background-blend-mode: overlay;     }
.darken 	 { background-blend-mode: darken;      }
.ligthen 	 { background-blend-mode: ligthen;     }
.color-dodge { background-blend-mode: color-dodge; }
.color-burn  { background-blend-mode: color-burn;  }
.hard-light  { background-blend-mode: hard-light;  }
.soft-light  { background-blend-mode: soft-light;  }
.difference  { background-blend-mode: difference;  }
.exclusion   { background-blend-mode: exclusion;   }
.hue 		 { background-blend-mode: hue;   	   }
.saturation  { background-blend-mode: saturation;  }
.color 		 { background-blend-mode: color;       }
.luminosity  { background-blend-mode: luminosity;  }
